@media screen and (max-width: 1024px) {
  .index_wrap {
    width: 100%;
    height: auto;
    grid-template-areas: "header" "details" "content";
    grid-template-columns: 100%;
    grid-template-rows: 50px auto auto;
  }
}

@media screen and (min-width: 0px) and (max-width: 639px) {
  .index_wrap .content-wrap {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}

@media screen and (min-width: 640px) and (max-width: 800px) {
  .index_wrap .content-wrap {
    grid-template-columns: repeat(auto-fill, 50%);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .index_wrap .content-wrap {
    grid-template-columns: repeat(auto-fill, 33%);
  }
}

@media screen and (min-width: 1920px) and (max-width: 1919px) {
  .index_wrap .content-wrap {
    grid-template-columns: repeat(auto-fill, 25%);
  }
}
